{% extends "base.html" %}
{% load static %}
{% static 'css/style.css' %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}

<div class="signup-form col-lg-6 col-md-8 mt-3 offset-lg-3 offset-md-2">
  <h2>{% trans "Sign Up" %}</h2>
  <br>
  <form method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_username">{% trans "Username" %} *</label>
      <input type="text" id="id_username" name="username" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="id_first_name">{% trans "First Name" %} *</label>
      <input type="text" id="id_first_name" name="first_name" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="id_last_name">{% trans "Last Name" %} *</label>
      <input type="text" id="id_last_name" name="last_name" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="id_email">{% trans "Email" %} *</label>
      <input type="email" id="id_email" name="email" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="id_password1">{% trans "Password" %} *</label>
      <input type="password" id="id_password1" name="password1" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="id_password2">{% trans "Confirm Password" %} *</label>
      <input type="password" id="id_password2" name="password2" class="form-control" required>
    </div>

    <!-- Button trigger modal -->
    <button type="submit" class="btn btn-dark">{% trans "Sign Up" %} &raquo;</button>

    <!--form validation modal-->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Username Taken</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            The username you have chosen is already in use. Please choose a different username.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  // Define the getCookie function to retrieve the CSRF token
  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

  // Get the CSRF token
  const csrftoken = getCookie('csrftoken');

  $(document).ready(function () {
    // Your existing jQuery ready function
    const signupForm = $('form');

    signupForm.on("submit", function (e) {
      e.preventDefault();
      const username = $('#id_username').val();

      // Use the fetched CSRF token in your fetch request
      fetch('{% url "validate_username" %}', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrftoken, // Use the token here
        },
        body: JSON.stringify({ username: username }),
      })
      .then(response => response.json())
      .then(data => {
        if (data.is_taken) {
          $('#staticBackdrop').modal('show');
        } else {
          document.querySelector('form').submit();
        }
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    });

    // Your modal close functionality
    $('#staticBackdrop').on('click', '.close', function () {
      $('#staticBackdrop').modal('hide');
    });
  });
</script>
>

{% endblock content %}